__pycache__/

# Generated alanine experiment inputs
/alanine/run_biased_nn/*/*/*/ala2.tpr
/alanine/run_biased_nn/*/*/*/plumed.dat
/alanine/run_biased_gnn/*/*/*/ala2.tpr
/alanine/run_biased_gnn/*/*/*/plumed.dat

# Generated shared simulation inputs
/alanine/run_biased_multi/ala2.tpr
/alanine/run_unbiased/450K/plumed-descriptors.dat
/alanine/run_unbiased/500K/plumed-descriptors.dat
/alanine/run_unbiased/600K/plumed-descriptors.dat
/alanine/run_unbiased/450K/plumed.dat
/alanine/run_unbiased/500K/plumed.dat
/alanine/run_unbiased/600K/plumed.dat
/chignolin/run_biased_explore/SelfTICA/md.tpr
/chignolin/run_biased_explore/SelfTICA_shaw/md.tpr
/calixarene/run_biased_gnn/DeepTDA/4AA/md.tpr
/calixarene/run_biased_gnn/DeepTDA/5AA/md.tpr
/calixarene/run_biased_gnn/DeepTDA/6AA/md.tpr
/calixarene/run_biased_gnn/DeepTDA/noenv/md.tpr
/calixarene/run_biased_gnn/SelfTICA/md.tpr
/fen2/run_biased_explore/SelfTICA/in.lammps
/fen2/run_biased_explore/coord/in.lammps
/fen2/run_biased_explore/d_n2/in.lammps
/transfer/alanine/biased_sims/iter_0/state_A/input.sA.tpr
/transfer/alanine/biased_sims/iter_1/state_A/input.sA.tpr
/transfer/alanine/biased_sims/iter_0/state_B/input.sB.tpr
/transfer/alanine/biased_sims/iter_1/state_B/input.sB.tpr
/transfer/alanine/biased_sims/iter_0/state_A/plumed.dat
/transfer/alanine/biased_sims/iter_0/state_B/plumed.dat
/transfer/alanine/biased_sims/iter_1/state_A/plumed.dat
/transfer/alanine/biased_sims/iter_1/state_B/plumed.dat
/transfer/chignolin/biased/iter_0/folded/fold.tpr
/transfer/chignolin/biased/iter_1/folded/fold.tpr
/transfer/chignolin/unbiased/folded/fold.tpr
/transfer/chignolin/biased/iter_0/unfolded/unfold.tpr
/transfer/chignolin/biased/iter_1/unfolded/unfold.tpr
/transfer/chignolin/unbiased/unfolded/unfold.tpr
/transfer/chignolin/biased/iter_0/folded/plumed-descriptors.dat
/transfer/chignolin/biased/iter_0/unfolded/plumed-descriptors.dat
/transfer/chignolin/biased/iter_1/folded/plumed-descriptors.dat
/transfer/chignolin/biased/iter_1/unfolded/plumed-descriptors.dat
/transfer/chignolin/unbiased/folded/plumed-descriptors.dat
/transfer/chignolin/unbiased/unfolded/plumed-descriptors.dat
/transfer/chignolin/biased/iter_0/folded/plumed_position.dat
/transfer/chignolin/biased/iter_0/unfolded/plumed_position.dat
/transfer/chignolin/biased/iter_1/folded/plumed_position.dat
/transfer/chignolin/biased/iter_1/unfolded/plumed_position.dat
/transfer/chignolin/unbiased/folded/plumed_position.dat
/transfer/chignolin/unbiased/unfolded/plumed_position.dat
/transfer/chignolin/biased/iter_0/folded/plumed.dat
/transfer/chignolin/biased/iter_0/unfolded/plumed.dat
/transfer/chignolin/biased/iter_1/folded/plumed.dat
/transfer/chignolin/biased/iter_1/unfolded/plumed.dat
/transfer/tri-well/biased_sims/state_A/md_potential
/transfer/tri-well/biased_sims/state_B/md_potential
/transfer/tri-well/unbiased_sims/state_A/md_potential
/transfer/tri-well/unbiased_sims/state_B/md_potential
/transfer/tri-well/biased_sims/state_A/plumed.dat
/transfer/tri-well/biased_sims/state_B/plumed.dat
/tri-well/run_biased/p.x+0.6kbt/md_potential
/tri-well/run_biased/p.y+0.6kbt/md_potential
/tri-well/run_unbiased/1.0kbt/md_potential
/tri-well/run_biased/p.x+0.6kbt/md_input
/tri-well/run_biased/p.y+0.6kbt/md_input
